// Colors
$color-white: #ffffff; 
$background-white: white;
$color-black: black;

// Typo
$font-title: 'Pacifico', cursive;
$font-paragraph: 'Lora', serif;      

// Spacing
$spacing-small: 8px;
$spacing-medium: 16px;
$spacing-large: 24px;

// Global styles
$border-radius: 5px;
$box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

